body {
  background-image: url(images/bg.png);
  background-size: cover;
  border: 3px solid black;
  margin: 10px;
  padding: 50px;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 5px;
}
pre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
pre::before {
  content: "♣︎";
}
pre1 {
  text-align: start;
  font-size: 5em;
}
h2 {
  font-size: 35px;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-size: 25px;
}
table {
  text-align: center;
}
th {
  font-size: 25px;
}
a:link {
  color: rgb(84, 44, 144);
}
a:hover {
  color: green;
  font-size: 1.04em;
}
a:active {
  color: green;
  font-size: 1.04em;
}
/*a:visited {
  color: gray;
}*/
